.custom-table{
  width: 90%;
  margin: auto;
  margin-top: 10px;
  border-collapse: collapse;
  text-align: center;
  vertical-align: center;
}

.custom-table td, .custom-table th {
  border: 1px solid rgba(0, 0, 0, 0.163);
}

.custom-table tr {
  height: 30px;
}

.custom-table tr:hover{
  background-color: rgba(100, 158, 233, 0.234);
}

.custom-table th{
  height: 50px;
  background-color: rgba(100, 158, 233, 0.586);
}

.table-arrows{
  font-size: 12px;
}

.table-arrows i:hover {
  cursor: pointer;
}